h1{
  color:rgb(68, 23, 109)  
}
h2{
    color:white
}
*{ 
    /* border:solid */
    
}
body{
    background-color: black; 
    background-image: url("https://img.freepik.com/free-vector/alien-planet-landscape-cosmic-background-deserted-coastline-with-mountains-view-glowing-cleft-stars-shining-spheres-space-extraterrestrial-pc-game-backdrop-cartoon-vector-illustration_107791-8012.jpg?w=2000");
}
.navegacao{
display:flex;
background-color: aliceblue;
background-image: url("https://media.istockphoto.com/vectors/space-background-night-alien-fantasy-landscape-vector-id1208816180?b=1&k=20&m=1208816180&s=612x612&w=0&h=X5PDaPjuo17wXAI0W7S50oyMf0_dCF6ti-lyBcRN4GU=");
justify-content: space-between;
align-items: center;
}
.links{
border:solid;
margin-left: 10;
display:flex;

}
.games{
    /* border:solid; */
    /* background-color: aqua; */
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.game{
    display:flex;
    /* background-color:red; */
    flex-direction: column;
    align-items: center;
    border:solid;
   
}
